<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials-head', { title "Erro 404" })%>

 <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

<body>

    <h1>Erro 404</h1>
    <p>Página não encontrada.</p>

    <a href="/">Voltar para a página inicial</a>

</body>
</html>